<!-- login.html -->
{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}

    <section class="hero is-success is-fullheight">
        <div class="hero-body">
            <div class="container">
                <h1 class="title has-text-centered">
                    Django Survey
                </h1>

                <div class="columns">
                    <div class="column is-offset-2 is-8">
                        <h2 class="subtitle">
                            Login
                        </h2>
                        <p class='has-text-centered'>{{ message }}</p>

                        <form action="{% url 'login' %}" method="POST">
                            {% csrf_token %}

                            <div class="field">
                                <label for="{{ form.username.id_for_label }}" class="label">
                                    Username
                                </label>
                                <div class="control">
                                    {{ form.username|add_class:"input" }}
                                </div>
                                <p class="help is-danger">{{ form.username.errors }}</p>
                            </div>

                            <div class="field">
                                <label for="{{ form.password.id_for_label }}" class="label">
                                    Password
                                </label>
                                <div class="control">
                                    {{ form.password|add_class:"input" }}
                                </div>
                                <p class="help is-danger">{{ form.password.errors }}</p>
                            </div>

                            <div class="field is-grouped">
                                <div class="control">
                                    <button class="button is-link">Submit</button>
                                </div>
                                <div class="control">
                                    <a href="{% url 'reset_password' %}">Forgot password?</a>
                                </div>
                            </div>
                        </form>
                        <hr>
                        <label for="" class="label">Or login with Google</label>
                        <div class="field">
                            <div class="control">
                                <a href="{% url 'social:begin' 'google-oauth2' %}" class="button">
                                    <span class="icon">
                                      <i class="fab fa-google-plus-g"></i>
                                    </span>
                                    <span>Google</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

{% endblock %}