<!-- manage_survey.html -->
{% extends 'base.html' %}

{% block content %}
    <section class="section">
        <div class="container">
            <h1 class="title has-text-centered">
                Django Survey
            </h1>

            <div class="columns">
                <div class="column is-offset-2 is-8">
                    <h2 class="subtitle">
                        Manage Survey: {{ survey.title }}
                    </h2>

                    <form action="{% url 'survey_management' survey.id %}" method="POST">
                        {% csrf_token %}

                        <div class="field">
                            <label for="" class="label">Available Assignees</label>
                            <div class="control">
                                <div class="select is-multiple">
                                    <select multiple size="4" name="assignees">
                                        {% for user in available_assignees %}
                                            <option value="{{ user.id }}">{{ user.username }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="field">
                            <label for="" class="label">Available Reviewers</label>
                            <div class="control">
                                <div class="select is-multiple">
                                    <select multiple size="4" name="reviewers">
                                        {% for user in available_reviewers %}
                                            <option value="{{ user.id }}">{{ user.username }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="field">
                            <div class="control">
                                <button class="button is-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>

    </section>

{% endblock %}