<!-- profile.html -->
{% extends 'base.html' %}

{% block content %}

    <section class="section">

        <div class="container">
            <h1 class="title has-text-centered" style="color: yellow">
                Django Survey
            </h1>

            <div class="columns">
                <div class="column is-offset-2 is-8">
                    <h2 class="subtitle is-size-3" style="color: deeppink">
                        Welcome {{ request.user.username }}
                    </h2>

                    <h3 class="subtitle" style="color: purple">Surveys You've Created</h3>
                    <div class="content">
                        <ul>
                            {% for survey in surveys %}
                                <li><a href="{% url 'survey_management' survey.id %}">{{ survey.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>

                    <h3 class="subtitle" style="color: orangered">Surveys You've Been Assigned</h3>
                    <div class="content">
                        <ul>
                            {% for assigned_survey in assgined_surveys %}
                                <li>
                                    <a href="{% url 'survey_assignment' assigned_survey.id %}">{{ assigned_survey.survey.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>


                    <h3 class="subtitle" style="color: green">Survey Results Shared With You</h3>
                    <div class="content">
                        <ul>
                            {% for survey in survey_results %}
                                <li>
                                    <a href="{% url 'survey_results' survey.id %}">{{ survey.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                </div>
            </div>

        </div>

    </section>

{% endblock %}