<!-- register_email.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration Confirmation</title>
</head>
<body>
<h1>Welcome to Django Survey</h1>
<p>Please click this link to confirm your email and complete registering.</p>
<p>{{ confirm_url }}</p>
</body>
</html>