<!-- reset_password.html -->
{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}

    <section class="hero is-success is-fullheight">
        <div class="hero-body">
            <div class="container">
                <h1 class="title has-text-centered">
                    Django Survey
                </h1>

                <div class="columns">
                    <div class="column is-offset-2 is-8">
                        <h2 class="subtitle">
                            Password Reset
                        </h2>

                        <form action="{% url 'reset_password' %}" method="POST">
                            {% csrf_token %}

                            <div class="field">
                                <label for="{{ form.email.id_for_label }}" class="label">
                                    Email
                                </label>
                                <div class="control">
                                    {{ form.email|add_class:"input" }}
                                </div>
                                <p class="help is-danger">{{ form.email.errors }}</p>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <button class="button is-link">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </section>

{% endblock %}