<!-- reset_password_email.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Django Survey Password Reset</title>
</head>
<body>
<h1>Django Survey Password Reset</h1>
<p>Please click the link below to result your password.</p>
<p><a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">Reset password</a>
</p>
</body>
</html>